<!-- Top Navbar -->
<div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper red ">
        
        <!-- Title -->
        <a style="padding-left: 3rem;" class="flow-text" [routerLink]="['']">Angular2 Starter Template</a>
        
        <!-- Navbar Content -->
        <ul class="right">
          <div *ngIf="isLoggedIn()">
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
              <a [routerLink]="['']" class="flow-text">Home</a>
            </li>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
              <a [routerLink]="['module1']" class="flow-text">Trades</a>
            </li>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
              <a [routerLink]="['module2']" class="flow-text">My Listings</a>
            </li>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
              <a [routerLink]="['module3']" class="flow-text">Chat Inbox</a>
            </li>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
              <a (click)="logout()" class="flow-text">Log Out</a>
            </li>
          </div>
          <div *ngIf="!isLoggedIn()">
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a (click)="login()" class="flow-text">Login</a></li>
          </div>
        </ul>
    </div>
  </nav>
</div>

<!-- Content -->
<nb-layout>
  <nb-layout-header fixed>Company Name</nb-layout-header>

  <nb-sidebar>Sidebar Content</nb-sidebar>

  <nb-layout-column><div class="container">
    <router-outlet></router-outlet>
  </div></nb-layout-column>
</nb-layout>

