<!-- Top Navbar -->
<div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper red ">
        
        <!-- Title -->
        <a style="padding-left: 3rem;" class="flow-text" [routerLink]="['']">Angular2 Starter Template</a>
        
        <!-- Navbar Content -->
        <ul class="right">
          <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['']" class="flow-text">Home</a></li>
          <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['module1']" class="flow-text">Trades</a></li>
          <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['module2']" class="flow-text">Questions</a></li>
        </ul>
    </div>
  </nav>
</div>

<!-- Content -->
<div class="container">
  <router-outlet></router-outlet>
</div>
