<h1>My Listings</h1>

<div class="row">
    <div *ngFor="let entry of entries">
        <div class="col s12 m6" *ngIf="entry.authorid === getName()">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="{{entry.imageRef}}">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">{{entry.title}}
                        <i class="material-icons right">add</i>
                    </span>
                    <p>
                        <a href="#">Posted by {{entry.authorid}} at {{entry.listDate}}</a>
                    </p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">{{entry.title}}
                        <i class="material-icons right">close</i>
                    </span>
                    <p>{{entry.description}}</p>
                    <a class="waves-effect btn red" (click)="delete(entry)" style="margin-right: 1rem">Delete Listing</a>

                </div>
            </div>
        </div>
    </div>
</div>